<div id="div-landing-main">
    <div id="black-area">
        <div class="header">
            <div id="img-holder">
                <img id="img-logo" src="../assets/chat.png">
            </div>
            <div id="logo-holder" class="div-vertical-aligned">
                <label id="logo" class="biggest">Smak</label>
            </div>
            <div id="div-nav-holder" class="div-vertical-aligned ">
                <a href="google.com">Contact Us</a>
                <a href="google.com">About Us</a>
                <button type="submit" id="btn_login">Login with Facebook</button>
            </div>
            <div id="div-menu-holder" class="div-vertical-aligned">
                <button type="submit" id="btn-menu" (click)="showMenu()" #btnMenu>Menu</button>
            </div>

        </div>
        <div id="div-centered-items" class="centered_container">
            <label id="tagline-title-main">Smart Talks that matter.</label>
            <label id="tagline-title">Share your thoughts with the world, one chat at a
                time.</label>
            <div id="input-div-holder" class="centered_item">
                <div style="display: block; height: 50px; z-index: 10000">
                    <input #inputTopic type="text" (keyup)="changed()" [(ngModel)]="keyString" (change)="changed($event)" class="autofill_textbox" placeholder="Type a topic..."/>
                    <div #holderclass class="holder_recent" [ngClass]="{'visible' : shouldShowTypeAhead, 'hidden':!shouldShowTypeAhead}">
                        <table class="table table-hover">
                            <tbody>
                            <tr *ngFor="let news of headlines" >
                                <td (click)="onHeadlineSelect(news)">{{news}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button type="submit" onclick="" id="btn-lets-talk" (click)="getArticles()">Let's Talk</button>
            </div>
            <div style="margin-top: 8px">
                <label id="label-privacy" class="small-text">By using [[$name]] Smak you agree to accept Smak's Privacy Policy &&
                    Terms and
                    Conditions</label>
            </div>

        </div>
    </div>
</div>

<div id="div-menu" #divMenu [ngClass]="{'visible' : visible, 'hidden':!visible}">
    <img id="img-close" src="../assets/close.png" #imgClose (click)="hideMenu()">

    <a href="google.com">Contact Us</a>
    <a href="google.com">About Us</a>
    <button type="submit" id="btn_login_menu">Login with Facebook</button>

</div>
