@import url("https://fonts.googleapis.com/css?family=Montserrat:thin,bold,black");


button{
    outline: none;
}

input{
    outline: none;
}

#input-div-holder{
    height: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

tr{
    border-style: hidden;
    outline: none;
}

nav{
    margin: 24px;
    display: block;
    width: calc(100% - 48px);
    height: 70px;
    background-color: transparent !important;
    border: none;
}


.autofill_textbox{
    font-size: 18px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    width: calc(100% - 24px);
    padding: 12px;
    background-color: white;
    border-radius: 16px;
}

.holder_recent{
    z-index: 1000;
    padding: 8px;
    overflow-y: scroll;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-top: -14px;
    background-color: white;
    max-height: 200px;
    width: calc(100% - 24px);
}

#label-privacy{
    color: lightgray;
    align-self: flex-start;
    padding-top: 16px;
}

#btn-lets-talk{
    height: 50px;
    margin-left: 16px;
    color: white;
    border: none;
    padding: 12px;
    background-color: #DD4E5C;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    width: 150px;
    border-radius: 8px;
}

#black-area{
    display: flex;
    flex-direction: column;
    padding: 18px;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
}

#div-centered-items{
    height: 100%;
    width: 60%;
    align-self: center;
    margin-top: 70px;
}

.div-vertical-aligned{
    display: flex;
    height: 70px;
    float: left;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#btn_login{
    align-self: center;
    margin-left: 16px;
    height: 40px;
    font-weight: 300;
    color: white;
    border-width: 2px;
    border-color: white;
    background-color: transparent;
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    width: 200px;
    border-radius: 8px;
}

a{
    font-size: 15px;
    margin-left: 16px;
    align-self: center;
    font-weight: 300;
    color: white;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
}

#img-holder{
    display: flex;
    width: 50px;
    height: 70px;
    float: left;
    align-content: center;
    justify-content: center;
}

#img-logo{
    align-self: center;
    height: 50px;
    width: 50px;
}

#div-nav-holder{
    float: right;
}

#logo{
    margin-left: 16px;
    align-self: center;
    font-size: 36px;
    color: white;
}

#tagline-title-main{
    font-size: 64px;
    font-weight: bold;
    color: #F7F8F9;
    margin-bottom: 24px;
}

#div-menu-holder{
    float: right;
}

#tagline-title{
    font-size: 32px;
    font-weight: 100;
    color: #F7F8F9;
    margin-bottom: 24px;
}

#div-landing-main{
    background-image: url("../assets/bg_talk.jpeg");
    background-position: center;
    background-size: cover;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#btn-menu{
    float: right;
    display: none;
    align-self: center;
    margin-left: 16px;
    height: 40px;
    font-weight: 300;
    color: white;
    border-width: 2px;
    border-color: white;
    background-color: transparent;
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    width: 80px;
    border-radius: 8px;
}

#div-menu{
    background-color: rgba(221, 78, 92,0.95);
    min-width: calc(100% - 48px);
    min-height: 100%;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    padding: 24px;
    width: 100%;
}

#img-close{
    float: right;
    width: 30px;
    height: 30px;
    margin-bottom: 36px;
    align-self: flex-end;
}


.hidden{
    display: none;
}

.visible{
    display: flex;
    flex-direction: column;
}


@media only screen and (min-width: 620px) {
    #div-menu{
        display: none;
    }
}

@media only screen and (max-width: 620px) {

    nav{
        height: 160px;
    }

    .holder_recent{
        width: calc(100%);
    }

    #div-centered-items{
        height: 100%;
        width: 100%;
        align-self: center;
    }

    #input-div-holder{
        height: 100px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #btn-lets-talk{
        margin-left: 0px;
        margin-top: 8px;
       min-height: 40px;
        width: 100%;
    }

    #tagline-title-main{
        font-size: 32px;
    }

    #label-privacy{
        font-weight: 500;
    }

    #tagline-title{
        font-weight: 500;
        font-size: 16px;
    }

    .autofill_textbox{
        font-size: 18px;
        border: none;
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        padding: 12px;
        background-color: white;
        border-radius: 8px;
    }

    a{
        font-size: 24px;
        margin-bottom: 8px;
        margin-left: 0;
        align-self: flex-start;
    }

    #btn_login_menu{
        font-weight: 100;
        background-color: transparent;
        color: white;
        font-size: 24px;
        padding: 0px;
        text-align: left;
        border: none;
        margin: 0px;
        align-self: flex-start;
    }

    #div-nav-holder{
        margin: 0px;
        padding: 0px;
        display: none;
    }


    #btn-menu{
        margin: 0px;
        font-weight: 500;
        display: block;
    }

}