@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* You can add global styles to this file, and also import other style files */
.centered_container{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center
}

.small-text {
    font-weight: 100;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    color: white;
}

label{
    font-family: 'Montserrat', sans-serif;
}

.biggest{
    font-size: 84px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.centered_item{
    align-self: center;
}

body{
    width: 100vw;
    height: 100vh;
    width: 0px;
    padding: 0px;
    margin: 0px;
}